*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}
:root {
  --focus_outline: 1px solid #fff;
  --focus_outline-offset: 1px;
  --border: 1px solid #fff;
  --active_background-color: #545050;
  --main-text_font-style: normal;
  --main-text_font-family: "Fira Sans Condensed", sans-serif;
  --main-text_color: #fff;
  --main-text_font-size: 18px;
  --main-text_font-weight: 400;
  --main-text_font: var(--main-text_font-style) var(--main-text_font-weight)
    var(--main-text_font-size) var(--main-text_font-family);
  --title_font-family: "Oswald", sans-serif;
}
.page {
  margin: auto;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  color: var(--main-text_color);
  font: var(--main-text_font);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  min-width: 0;
}

.title {
  color: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  font-family: var(--title_font-family);
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-block-end: 2px;
  width: 100%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font: inherit;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}
.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: var(--focus_outline);
  outline-offset: var(--focus_outline-offset);
}

.search-form__textfield {
  appearance: none;
  cursor: text;
  border: none;
  border-block-start: var(--border);
  border-block-end: var(--border);
  background-color: transparent;
  padding: 2.5px 0;
  width: 225px;
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield:active {
  border: var(--border);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-block-end: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  cursor: pointer;
  border: var(--border);
  background-color: transparent;
  width: 19px;
  height: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
  margin: 1px;
  background-color: #fff;
  width: 100%;
  content: "";
}

.button {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 6px 0;
  color: inherit;
  font: inherit;
  font-weight: 700;
  text-align: center;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: var(--focus_outline);
  outline-offset: var(--focus_outline-offset);
}
.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  margin: 2px;
  width: calc(100% - 4px);
}

.content__list {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
  height: 298px;
  overflow: auto;
  scrollbar-width: none;
}

.content__list-item {
  width: 100%;
  min-width: 0;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
}

.content__card-link_current {
  background-color: var(--active_background-color);
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1px;
}

.content__card-link:active {
  background-color: var(--active_background-color);
}

.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: var(--focus_outline);
  outline-offset: var(--focus_outline-offset);
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 0;
}

.content__video-card-title {
  overflow: hidden;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  font-family: var(--title_font-family);
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
.content__video-card-description {
  overflow: hidden;
  line-height: 0.9;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
